@media (max-width: 770px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top {
        height: 700px;
        align-items: flex-start;
        &__img-1 {
            display: none;
        }
        &__img-mob {
            display: block;
        }
        &__img-2 {
            width: 35px;
            height: 35px;
        }
        &__img-3 {
            width: 21px;
            height: 21px;
        }
        &__img-4 {
            width: 39px;
            height: 41px;
            right: 34px;
            bottom: 79.3px;
        }
        &__img-5 {
            width: 18px;
            height: 18px;
            right: 86px;
            bottom: 121px;
        }
        &-content {
        padding-top: 147px;
        align-items: center;
        text-align: center;
            &__title {
                font-size: 40px;
                line-height: normal;
            }
            &__text {
                font-weight: 400;
                font-size: 16px;
                line-height: normal;
                text-align: center;
                vertical-align: middle;
                padding-left: 24px;
                padding-right: 24px;
                padding-top: 24px;
                padding-bottom: 36px;
            }
            &__button {
                display: none;
            }
            &__button1 {
                display: block;
                width: 285px;
                height: 55px;
                font-size: 16px;
                background: $color-text;
                border: 1px solid transparent; 
                box-sizing: border-box;
                border-radius: 60px;
                line-height: 142%;
                color: rgba(255, 255, 255, 1);
                font-family:"Montserrat", sans-serif;
                font-weight: 600 ;
                align-content: center;
                text-align: center;
                cursor: pointer;
                    &:hover {
                        background-color: rgba(255, 255, 255, 1);
                        border-color:rgba(32, 32, 39, 1) ;
                        color: rgba(32, 32, 39, 1);
        }
            }
        }
    }
    .header {
        height: 51.3px;
        &-menu {
            width: 1717.40px;
            height: 51.3px;
            gap: 74px;
            &__link {
                font-size: 16px;
                &::after {
                    content: url(img/Star-m.svg);
                    padding-left: 24.7px;
                    position: absolute;
            }
        }
    }
}
    .section {
        &_for {
            display: none;
        }
        &__star {
            display: none;
        }
        &-info {
            &__title {
            font-size: 40px;
            }
            &__scr {
                display: block;
            }
        }
        &_game {
            padding-top: 48px;
            padding-bottom: 10px;
        }
        &-content {
            padding-top: 48px;
            gap: 24px;
            padding-bottom: 0px;
        }
    }
    .card {
        flex-direction: column;
        align-self: center;
        width: 343px;
        height: auto;
        &__img {
            width: 100%;
        }
        &-info {
            padding: 29px;
            &__title {
            font-size: 32px;
            }
            &__text {
                line-height: 100%;
                letter-spacing: 0px;
                font-size: 16px;
                width: 249px;
                padding-top: 16px;
                padding-bottom: 32px;
            }
            &__button {
                font-size: 16px;
                height: 50px;
                width: 285px;
                align-self: center;
            }
        }
        &__text-img {
            top: 100px;
            left: 125px;
            height: 89px;
            width: 89px;
            font-size: 60px;
        }
    }
    .footer{
        height: 100px;
        &__text {
            font-size: 16px;
        }
    }
}